<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

<table border="1" style="color:black">
  
<tr>
<th>Area Description</th>
<th>Headline</th>
<th>Description</th>
<th>Instruction</th>
<th>Effective</th>
<th>Expires</th>
<th>Severity</th>
</tr>

<% @info.each do |element| %>
  <tr>
  <td align="center"> <%= element[0] %> </td>
  <td align="center"><%= element[1] %> </td>
  <td align="center"><%= element[2] %> </td>
  <td align="center"><%= element[3] %> </td>
  <td align="center"><%= element[4] %> </td>
  <td align="center"><%= element[5] %> </td>
  <td align="center"><%= element[6] %> </td>
  </tr>
<% end %>

</table>
  </body>
</html>
